// TESTIMONIAL CONTAINER //

.testimonials-container {
	margin: 0 auto;

    & > * + * {
        margin-top: 1rem;
    }
}





// BASIC CARD COMPONENT //

.testimonial {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);

    padding: 2rem;
    border-radius: .7rem;




    &__img {
        border-radius: 50%;
        height: 35px;
    }

    &__review {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    
}





    // User flexbox //

.testimonial-flex-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}




// VIOLET CARD //

.testimonial--violet {
    background-color: var(--clr-violet);
    background-image: url(/100dayscode-1st-day/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 2rem;
    
}


// GRAY CARD //

.testimonial--gray {
    background-color: var(--clr-dark-gray-blue);
}


// DARK BLUE CARD //

.testimonial--dark-blue {
    background-color: var(--clr-dark-black-blue);
}
